language: android
jdk:
  - oraclejdk7
  - oraclejdk8
android:
  components:
    - platform-tools
    - build-tools-24.0.3
    - android-24
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-24

before_install:
  - export JAVA7_HOME=/usr/lib/jvm/java-7-oracle
  - export JAVA8_HOME=/usr/lib/jvm/java-8-oracle
  - export JAVA_HOME=$JAVA7_HOME

script:
  - ./gradlew clean jacocoDebugTestReport