autoCorrect: true
failFast: false

test-pattern: # Configure exclusions for test sources
  active: true
  patterns: # Test file regular expressions
    - '.*Spec.kt'

build:
  maxIssues: 1
  weights:
    complexity: 2
    formatting: 1
    LongParameterList: 1
    comments: 1

processors:
  active: true
  exclude:
  # - 'FunctionCountProcessor'
  # - 'PropertyCountProcessor'
  # - 'ClassCountProcessor'
  # - 'PackageCountProcessor'
  # - 'KtFileCountProcessor'

console-reports:
  active: true
  exclude:
  #  - 'ProjectStatisticsReport'
  #  - 'ComplexityReport'
  #  - 'NotificationReport'
  #  - 'FindingsReport'
  #  - 'BuildFailureReport'

output-reports:
  active: true
  exclude:
  #  - 'PlainOutputReport'
  #  - 'XmlOutputReport'

comments:
  active: true
  CommentOverPrivateFunction:
    active: false # Disabled because comments for some private functions can be valuable
  CommentOverPrivateProperty:
    active: false # Disabled because comments for some properties can be valuable
  UndocumentedPublicClass:
    active: true
    searchInNestedClass: true
    searchInInnerClass: true
    searchInInnerObject: true
    searchInInnerInterface: true
  UndocumentedPublicFunction:
    active: true

complexity:
  active: true
  LongParameterList:
    active: true
    threshold: 5
    ignoreDefaultParameters: false
  LongMethod:
    active: true
    threshold: 20
  LargeClass:
    active: true
    threshold: 150
  ComplexInterface:
    active: true
    threshold: 50
    includeStaticDeclarations: true
  ComplexMethod:
    active: true
    threshold: 20
  StringLiteralDuplication:
    active: true
    threshold: 2
    ignoreAnnotation: true
    excludeStringsWithLessThan5Characters: true
    ignoreStringsRegex: '$^'
  MethodOverloading:
    active: true
    threshold: 5
  NestedBlockDepth:
    active: true
    threshold: 5
  TooManyFunctions:
    active: true
    thresholdInFiles: 50
    thresholdInClasses: 75 # Increased from 50
    thresholdInInterfaces: 75 # Increased from 50
    thresholdInObjects: 20
    thresholdInEnums: 10
  ComplexCondition:
    active: true
    threshold: 3
  LabeledExpression:
    active: false # Disabled since they can be required when the code is not complex

empty-blocks:
  active: true
  EmptyCatchBlock:
    active: true
  EmptyClassBlock:
    active: true
  EmptyDefaultConstructor:
    active: true
  EmptyDoWhileBlock:
    active: true
  EmptyElseBlock:
    active: true
  EmptyFinallyBlock:
    active: true
  EmptyForBlock:
    active: true
  EmptyFunctionBlock:
    active: true
  EmptyIfBlock:
    active: true
  EmptyInitBlock:
    active: true
  EmptyKtFile:
    active: true
  EmptySecondaryConstructor:
    active: true
  EmptyWhenBlock:
    active: true
  EmptyWhileBlock:
    active: true

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
    exceptions:
     - ArrayIndexOutOfBoundsException
     - Error
     - Exception
     - IllegalMonitorStateException
     - NullPointerException
     - IndexOutOfBoundsException
     - RuntimeException
     - Throwable
  ExceptionRaisedInUnexpectedLocation:
    active: true
    methodNames: 'toString,hashCode,equals,finalize'
  TooGenericExceptionThrown:
    active: true
    exceptions:
     - Error
     - Exception
     - NullPointerException
     - Throwable
     - RuntimeException
  NotImplementedDeclaration:
    active: true
  PrintStackTrace:
    active: true
  InstanceOfCheckForException:
    active: true
  ThrowingExceptionsWithoutMessageOrCause:
    active: true
    exceptions: 'IllegalArgumentException,IllegalStateException,IOException'
  ReturnFromFinally:
    active: true
  ThrowingExceptionFromFinally:
    active: true
  ThrowingExceptionInMain:
    active: true
  RethrowCaughtException:
    active: true
  ThrowingNewInstanceOfSameException:
    active: true
  SwallowedException:
    active: true

performance:
  active: true
  ForEachOnRange:
    active: true
  SpreadOperator:
    active: true
  UnnecessaryTemporaryInstantiation:
    active: true

potential-bugs:
  active: true
  DuplicateCaseInWhenExpression:
    active: true
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  EqualsWithHashCodeExist:
    active: true
  IteratorNotThrowingNoSuchElementException:
    active: true
  IteratorHasNextCallsNextMethod:
    active: true
  UselessPostfixExpression:
    active: true
  InvalidRange:
    active: true
  WrongEqualsTypeParameter:
    active: true
  ExplicitGarbageCollectionCall:
    active: true
  LateinitUsage:
    active: false # Disabled because lateinit usage is fine with `init` blocks and dagger
    excludeAnnotatedProperties: ""
    ignoreOnClassesPattern: ""
  UnconditionalJumpStatementInLoop:
    active: true
  UnreachableCode:
    active: true
  UnsafeCallOnNullableType:
    active: false # Disabled because with a null check in prechecks, !! is acceptable
  UnsafeCast:
    active: false # Disabled because there are cases where casting should not fail and `as` would be more appropriate

style:
  active: true
  CollapsibleIfStatements:
    active: true
  ReturnCount:
    active: true
    max: 4
    excludedFunctions: "equals"
  ThrowsCount:
    active: true
    max: 2
  NewLineAtEndOfFile:
    active: true
  WildcardImport:
    active: true
    excludeImports: 'java.util.*,kotlinx.android.synthetic.*'
  MaxLineLength:
    active: true
    maxLineLength: 150
    excludePackageStatements: false
    excludeImportStatements: false
  EqualsNullCall:
    active: true
  ForbiddenComment:
    active: true
    values: 'TODO:,FIXME:,STOPSHIP:'
  ForbiddenImport:
    active: true
    imports: ''
  FunctionOnlyReturningConstant:
    active: true
    ignoreOverridableFunction: true
    excludedFunctions: 'describeContents'
  SpacingBetweenPackageAndImports:
    active: true
  LoopWithTooManyJumpStatements:
    active: true
    maxJumpCount: 3 # Increased from 1
  MemberNameEqualsClassName:
    active: true
    ignoreOverriddenFunction: true
  VariableNaming:
    active: true
    variablePattern: '[a-z][A-Za-z0-9]*'
    privateVariablePattern: '(_)?[a-z][A-Za-z0-9]*'
  VariableMinLength:
    active: true
    minimumVariableNameLength: 1
  VariableMaxLength:
    active: true
    maximumVariableNameLength: 64
  TopLevelPropertyNaming:
    active: true
    constantPattern: '[A-Z][_A-Z0-9]*'
    propertyPattern: '[a-z][A-Za-z\d]*'
    privatePropertyPattern: '(_)?[a-z][A-Za-z0-9]*'
  ObjectPropertyNaming:
    active: true
    propertyPattern: '[A-Za-z][_A-Za-z0-9]*'
  PackageNaming:
    active: true
    packagePattern: '^[a-z]+(\.[a-z][a-z0-9]*)*$'
  ClassNaming:
    active: true
    classPattern: '[A-Z$][a-zA-Z0-9$]*'
  EnumNaming:
    active: true
    enumEntryPattern: '^[A-Z$][a-zA-Z_$]*$'
  FunctionNaming:
    active: true
    functionPattern: '^([a-z$][a-zA-Z$0-9]*)|(`.*`)$'
  FunctionMaxLength:
    active: true
    maximumFunctionNameLength: 30
  FunctionMinLength:
    active: true
    minimumFunctionNameLength: 3
  ForbiddenClassName:
    active: true
    forbiddenName: ''
  SafeCast:
    active: true
  UnnecessaryAbstractClass:
    active: true
  UnnecessaryParentheses:
    active: true
  UnnecessaryInheritance:
    active: true
  UtilityClassWithPublicConstructor:
    active: true
  OptionalAbstractKeyword:
    active: true
  OptionalWhenBraces:
    active: false # Disabled because braces can sometimes make parts of when more readable
  OptionalReturnKeyword:
    active: true
  OptionalUnit:
    active: true
  ProtectedMemberInFinalClass:
    active: true
  SerialVersionUIDInSerializableClass:
    active: true
  MagicNumber:
    active: true
    ignoreNumbers: '-1,0,1,2'
    ignoreHashCodeFunction: false
    ignorePropertyDeclaration: false
    ignoreConstantDeclaration: true
    ignoreCompanionObjectPropertyDeclaration: true
    ignoreAnnotation: false
    ignoreNamedArgument: false
    ignoreEnums: false
  ModifierOrder:
    active: true
  DataClassContainsFunctions:
    active: true
    conversionFunctionPrefix: 'to'
  UseDataClass:
    active: true
  UnusedImports:
    active: true
  ExpressionBodySyntax:
    active: true
  NestedClassesVisibility:
    active: true
  RedundantVisibilityModifierRule:
    active: true
  MatchingDeclarationName:
    active: true
  UntilInsteadOfRangeTo:
    active: true